extends layout

block content

  style(type="text/css").
    
    body{
      background: rgba(236, 239, 241, 0.31)
    }

    #logo{
      padding:5px 20px;
      border-radius:3px;
      color:white;
    }

    #div_menu_sidebar{
      margin-top:5px;
      width:100%;
      min-height:50px;

      border:1px solid;
      box-shadow:1px 1px 1px;
      border-radius:3px;
      background: rgba(72, 118, 121, 0.37) !important;
      padding:10px;
      
    }

    #div_menu_sidebar a{
      text-decoration:none;
      padding: 15px;
      color:white;
    }

    #div_menu_sidebar a:hover{
      cursor:pointer;
      border-bottom:1px solid;
      background:rgba(72, 118, 121, 0.07) !important;
      color:white;
    }

    #div_container{
      margin:12px auto;
      width:80%;
      height:900px;
      overflow:auto;
    }

  
  script(type="text/javascript").
  
    $(document).ready(function(){

      Highcharts.chart('dashboard01', {
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Movimentação de valores da semana'
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 150,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: [
                'Segunda',
                'Terça',
                'Quarta',
                'Quinta',
                'Sexta',
                'Sabado',
                'Domingo'
            ],
            //- plotBands: [{ // visualize the weekend
            //-     from: 4.5,
            //-     to: 6.5,
            //-     color: 'rgba(68, 170, 213, .2)'
            //- }]
        },
        yAxis: {
            title: {
                text: 'Valores em R$'
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' units'
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            areaspline: {
                fillOpacity: 0.5
            }
        },
        series: [{
            name: 'Movimentações por dia',
            data: [3, 4, 3, 20, 15, 3, 1]
        }]
      })

      Highcharts.chart('dashboard02', {
          chart: {
              plotBackgroundColor: null,
              plotBorderWidth: 0,
              plotShadow: false
          },
          title: {
              text: '<small>Top 5 gastos</small>',
              align: 'center',
              verticalAlign: 'middle',
              y: 40
          },
          tooltip: {
              pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
              pie: {
                  dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                          fontWeight: 'bold',
                          color: 'white'
                      }
                  },
                  startAngle: -90,
                  endAngle: 90,
                  center: ['50%', '75%']
              }
          },
          series: [{
              type: 'pie',
              name: 'Principais gastos',
              innerSize: '60%',
              data: [
                  ['Alimentação',   10.38],
                  ['Roupas',       40.33],
                  ['Cinema', 20.03],
                  ['Games',    13.77],
                  ['Material Escolar',     1.91],
                  {
                      name: 'Proprietary or Undetectable',
                      y: 0.2,
                      dataLabels: {
                          enabled: false
                      }
                  }
              ]
          }]
      });

      Highcharts.chart('dashboard03', {
          chart: {
              type: 'column',
              options3d: {
                  enabled: true,
                  alpha: 10,
                  beta: 25,
                  depth: 70
              }
          },
          title: {
              text: 'Acumulado de gastos ao ano'
          },
          subtitle: {
              text: ''
          },
          plotOptions: {
              column: {
                  depth: 25
              }
          },
          xAxis: {
              categories: Highcharts.getOptions().lang.shortMonths
          },
          yAxis: {
              title: {
                  text: null
              }
          },
          series: [{
              name: '',
              data: [2, 3, null, 4, 0, 5, 1, 4, 6, 3]
          }]
      });



      //- Highcharts.chart('dashboard02', {
      //-   chart: {
      //-       type: 'column'
      //-   },
      //-   title: {
      //-       text: 'Comparativo entre consultas realizadas e desistências'
      //-   },
      //-   xAxis: {
      //-       categories: [
      //-           'Segunda',
      //-           'Terça',
      //-           'Quarta',
      //-           'Quinta',
      //-           'Sexta',
      //-           'Sabado',
      //-           'Domingo'
      //-       ],
      //-   },
      //-   credits: {
      //-       enabled: false
      //-   },
      //-   series: [{
      //-       name: 'Consultas Realizadas',
      //-       data: [5, 3, 4, 7, 2]
      //-   }, {
      //-       name: 'Desistências',
      //-       data: [2, -2, -3, 2, 1]
      //-   }]
    	//- });



    })

  div(id='app')
    div(id='div_menu_sidebar')
      a(href='contratos') Dashboard
      a(href='dashboards') Consultas
    div(id='div_container')
      div(id="dashboard01" style="min-width: 310px; height: 350px; margin: 0 auto")
      hr
      div(id="dashboard02" style="width: 600px; height: 350px; margin: 0 auto;float:left;")
      div(id="dashboard03" style="width: 600px; height: 350px; margin: 0 auto;float:right;")
