doctype html
html
  head
    meta(http-equiv='refresh', content='0;url=petrobras/pages/index.html')
    title SB Admin 2
    script(language='javascript').
      window.location.href = "petrobras/pages/frentista.html"
  body
    | Go to 
    a(href='petrobras/pages/index.html') /pages/index.html
